html {
  height: 100%;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0px;
  background-color: #333;
  --prim: #333;
  --select: #555;
  --selected: #444;
  --shadow: #111;
  --bg: #ddd;
  --tx-prim: #000;
  --tx-sec: #fff;
}

/* animations for navbar buttons */
@keyframes buttonhover {
  from {
    box-shadow: 0px 0px var(--shadow) inset;
    padding: 10px;
  }

  to {
    box-shadow: 5px 5px var(--shadow) inset;
    padding-top: 13px;
    padding-left: 13px;
    padding-bottom: 7px;
    padding-right: 7px;
  }
}

@keyframes buttonunhover {
  from {
    box-shadow: 5px 5px var(--shadow) inset;
    padding-top: 13px;
    padding-left: 13px;
    padding-bottom: 7px;
    padding-right: 7px;
  }

  to {
    box-shadow: 0px 0px var(--shadow) inset;
    padding: 10px;
  }
}

@keyframes switch {
  from {
    translate: 0 20px;
    opacity: 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes slidein {
  from {
    translate: 20px 0px;
  }
  to {
    translate: 0px;
  }
}

.navbar {
  display: flex;
  background-color: var(--prim);
  color: var(--tx-sec);
  position: sticky;
  top: 0;
  z-index: 1;

  div {
    animation: buttonunhover 0.5s forwards ease-out;
    text-decoration: none;
    color: var(--tx-sec);
    padding: 10px;

    .active {
      background-color: var(--selected);
      box-shadow: 5px 5px var(--shadow) inset;

    }

    active:hover {
      background-color: var(--select);
    }
  }

  div:hover {
    background-color: var(--select);
    animation: buttonhover 500ms forwards ease-out;
  }
}

.content {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 4%;

}

.content div {
  animation: slidein 1s ease-out;
  padding: 5px;
}

/* hide when class=page but show animation when open*/
.page {
  display: none;
  transition: 0.5s display;
}

.open {
  animation: switch 0.7s forwards cubic-bezier(0, 0, .58, 1);
  display: initial;
}

.h1 {
  font-size: 18pt;
  display: inherit;
}

.h2 {
  font-size: 16pt;
  display: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

.pfp {
  border-radius: 10px;
  transition: box-shadow 1s;
  box-shadow: 2px 2px 5px 0px #999;
}
.pfp:hover {
  box-shadow: 5px 5px 10px 5px #555;
}

.footer {
  margin: 2em;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1frs;
}
.footer span {
  font-size: 1.1rem;
  color: var(--tx-sec);
}